text                        { font: 10px sans-serif; pointer-events: none; }
text.shadow                 { stroke: #fff; stroke-width: 3px; stroke-opacity: .8; pointer-events: none; }
path.link                   { fill: none; stroke: #ccc; stroke-width: 1px; }
circle                      { fill: #ccc; stroke: #333; stroke-width: 1.5px;}